{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<!--section -->
<section id="sec1">
    <!-- container -->
    <div class="container">
        <!-- profile-edit-wrap -->
        <div class="profile-edit-wrap">
            <div class="profile-edit-page-header">
                <h2>Change Password</h2>
                <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a><span>Change Password</span></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="user-profile-menu-wrap fl-wrap">
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Main</h3>
                            <ul>
                                <li><a href="{% url 'index' %}"><i class="fa fa-gears"></i>Dashboard</a></li>
                                <li><a href="{% url 'update-user' request.session.user.user_id %}" ><i class="fa fa-user-o"></i> Edit profile</a></li>
                                <li><a href="{% url 'change-password' request.session.user.user_id %}" class="user-profile-act"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                            </ul>
                        </div>
                        <!-- user-profile-menu end-->
                        <a href="{% url 'user-sign-out' %}" class="log-out-btn">Log Out</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- profile-edit-container-->
                    <div class="profile-edit-container">
                        <div class="custom-form no-icons">
                            <!-- change-password-wrap -->
                            {% if error == 0 and message|length > 0 %}
                                <div class="notification success">{{ message }}</div>
                            {% endif %}
                            {% if error == 1 and message|length > 0 %}
                                <div class="notification reject">{{ message }}</div>
                            {% endif %}
                            <form data-parsley-validate id="change-password" method="post" action="{% url 'change-password' request.session.user.user_id %}" enctype="multipart/form-data" autocomplete="off">
                                <div class="profile-edit-wrap">
                                    <div class="row">
                                        <div class="col-md-7 col-centered">
                                            <div class="profile-edit-page-header">
                                                <h2>{% trans "Change Password" %}</h2>
                                            </div>
                                            <div class="custom-form">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                            </div>
                                            <button type="submit" class="btn  big-btn  color-bg flat-btn book-btn" ><span>Change Password</span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--change-password-wrap end -->
                        </div>
                    </div>
                    <!-- profile-edit-container end-->
                </div>
            </div>
        </div>
        <!--profile-edit-wrap end -->
    </div>
    <!--container end -->
</section>
<!-- section end -->
<script type="text/javascript" src="{% static 'js/custom.js' %}?{{JS_CSS_VERSION}}"></script>
{%  endblock %}