{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <!--section -->
    <section>
        <!-- container -->
        <div class="container">
            <!-- profile-edit-wrap -->
            {% if message|length > 0 %}
                <div class="notification success">{{ message }}</div>
            {% else %}
                <form id="forgot-password" method="post" action="{% url 'forgot-password' %}">
                    <div class="profile-edit-wrap">
                        <div class="row">
                            <div class="col-md-7 col-centered">
                                 <div class="profile-edit-page-header">
                                    <h2>{% trans "Forgot Password" %}</h2>
                                </div>
                                <!-- profile-edit-container-->
                                <div class="custom-form">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                </div>
                                <!-- profile-edit-container end-->
                                <button type="submit" class="btn  big-btn  color-bg flat-btn book-btn" onclick="$('#forgot-password').submit();"><span>Get Reset URL</span></button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}

            <!--profile-edit-wrap end -->
        </div>
        <!--container end -->
    </section>
    <!-- section end -->
{% endblock %}